*{
margin:0;
padding:0;
font-family:'Poppins', sans-serif;
box-sizing:border-box;
}

body{
background:#f4f6ff;
}

/* NAVBAR */
header{
display:flex;
justify-content:space-between;
padding:20px;
background:#2c3e50;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#00ffd5;
}

/* HERO */
.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(to right,#667eea,#764ba2);
color:white;
text-align:center;
}

.hero button{
padding:12px 25px;
border:none;
background:white;
color:#333;
margin-top:15px;
cursor:pointer;
border-radius:5px;
}

/* FEATURES */
.features{
padding:60px;
text-align:center;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:white;
padding:25px;
width:250px;
border-radius:10px;
box-shadow:0px 4px 10px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

/* ABOUT */
.about{
padding:60px;
text-align:center;
background:#eef1ff;
}

/* CONTACT */
.contact{
padding:60px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
}

input, textarea{
margin:10px;
padding:10px;
}

button{
padding:10px;
background:#764ba2;
color:white;
border:none;
}

/* FOOTER */
footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
}
.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;
}

.dashboard{
padding:40px;
text-align:center;
}

ul{
list-style:none;
margin-top:20px;
}

li{
background:#fff;
margin:10px auto;
padding:10px;
width:300px;
border-radius:5px;
display:flex;
justify-content:space-between;
}

/* DARK MODE */
.dark{
background:#1e1e1e;
color:white;
}

.dark li{
background:#333;
color:white;
}
body{
transition:0.4s;
}

/* Glass Effect */
.card, .login-box, li{
backdrop-filter: blur(10px);
background: rgba(255,255,255,0.7);
border-radius:15px;
}

/* Animation */
.hero h1{
animation:fade 2s ease-in-out;
}

@keyframes fade{
from{opacity:0; transform:translateY(20px);}
to{opacity:1;}
}
#loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:#764ba2;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:24px;
z-index:999;
}
@media(max-width:768px){

.card-container{
flex-direction:column;
align-items:center;
}

header{
flex-direction:column;
text-align:center;
}

}
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}